.row {
    margin-left: 20px;
    color:white;
    
}


.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 100px;
    

}



.row__posters::-webkit-scrollbar {
    display: none;
}


.row__poster {
    display: flex;
    object-fit: contain;
    transition: transform 450ms;
    margin-right: 10px;
    min-width: 150px;
    
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 100%;
    min-width: 200px;
    
}

.row__posterLarge:hover {
    transform: scale(1.09);
}

.row__videoContainer {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.row__videoContainer iframe {
    aspect-ratio: 16 / 9;
    border: none;
    height: 450;
    width: 100%;


}

